@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  @apply text-black;

  font-family        : "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style         : normal;
  font-weight        : 400;
}

.btn {
  @apply px-6 py-2;
  @apply font-normal text-xl text-accent-text;
  @apply border-2 border-accent rounded-2xl;
  // @apply shadow-xl shadow-accent-light;

  @apply transition-all;

  @apply bg-accent;

  &:disabled {
    @apply opacity-80;
    filter: grayscale(1);
  }

  &:not(:disabled):hover {
    // @apply shadow-md shadow-accent-light;
    @apply text-accent;
    @apply bg-accent-text;
  }
}

.title {
  @apply text-black text-2xl text-center mb-3 px-4 w-full;
}

.alert {
  @apply text-xs text-red;
}

.checkbox-label {
  @apply relative w-full h-full flex items-center justify-center;

  .checkbox {
    @apply border border-gray rounded-sm flex items-center justify-center relative;
    background-repeat: no-repeat;
    background-size  : cover;
    height           : 20px;
    aspect-ratio     : 1/1;
  }

  input:checked+.checkbox {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26' width='26px' height='26px'%3E%3Cpath d='M 22.566406 4.730469 L 20.773438 3.511719 C 20.277344 3.175781 19.597656 3.304688 19.265625 3.796875 L 10.476563 16.757813 L 6.4375 12.71875 C 6.015625 12.296875 5.328125 12.296875 4.90625 12.71875 L 3.371094 14.253906 C 2.949219 14.675781 2.949219 15.363281 3.371094 15.789063 L 9.582031 22 C 9.929688 22.347656 10.476563 22.613281 10.96875 22.613281 C 11.460938 22.613281 11.957031 22.304688 12.277344 21.839844 L 22.855469 6.234375 C 23.191406 5.742188 23.0625 5.066406 22.566406 4.730469 Z'/%3E%3C/svg%3E");
  }
}

.input,
.select {
  @apply w-full mb-1 border border-solid border-gray rounded-sm p-2 text-xl outline-none border-opacity-40;

  &::placeholder {
    @apply text-xl;
  }

  &.error,
  &.error .select__control {
    @apply border-red border-opacity-60 text-color-text
  }

  &.valid,
  &.valid .select__control {
    @apply border-green border-opacity-60 text-color-text
  }
}

.select {
  @apply p-0 border-0 outline-none shadow-none;

  .select__control {
    @apply border-gray border border-opacity-40 rounded-sm outline-none shadow-none;

    &:hover {
      @apply border-gray border border-opacity-40;
    }
  }

  .select__value-container {
    @apply p-2;
  }
}

.react-datepicker-wrapper {
  @apply w-full;

  input {
    @apply w-full text-xl text-center outline-none;
  }
}

.padding-keyboard {
  padding-bottom: 285px;
}